@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poppins:wght@100..600&family=Bricolage+Grotesque:wght@200..800&family=Unbounded:wght@200..800&family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

.loader-container {
    position: fixed;
    display: flex;
    inset: 0;
    z-index: 9999;
    background-color: black;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-out;
}

.loader-container.hidden {
    transform: translate3d(0, -100%, 0);
    visibility: hidden;
}

svg {
    width: 100%;
    font-weight: 100;
}

svg text {
    color: white;
    font-family: "Syne", "Bricolage Grotesque", "Poppins";
    font-size: clamp(1rem, 5vw, 3rem);
    font-weight: 700;
    stroke-width: 2;
}

svg text.text-body {
    stroke: white;
    animation: 1.5s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95) loader;
}

@keyframes loader {
    0% {
        fill: transparent;
        stroke: white;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 30%;
    }

    35% {
        fill: transparent;
        stroke: white;
    }

    50%,
    100% {
        fill: white;
        stroke: transparent;
        stroke-width: 0;
        stroke-dashoffset: -25%;
        stroke-dasharray: 30% 0;
    }
}

#main {
    transition: 0.75s linear;
    transition-delay: 0.2s;
}

nav {
    position: absolute;
    padding: 2rem 3rem;
    z-index: 10;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: clamp(0.5rem, 5vw, 3rem);
}

#heroimg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 0vh;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-delay: 0.5s;
}

#heroimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 100%;
    border: none;
    outline: none;
    opacity: 1;
}

#heroimg:hover img {
    transform: none;
}

.hero-text {
    position: absolute;
    top: 45%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: default;
}

.hero-text h1 {
    color: white;
    font-size: clamp(4rem, 15vw, 20rem);
    font-family: "Syne", "Bricolage Grotesque", "Poppins";
    font-weight: 700;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
}

#maintxt {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 5rem;
    min-height: 100vh;
    width: 100%;
    top: 63vh;
}

#main-h1 {
    position: relative;
    flex-basis: 40%;
    flex-grow: 0;
}

.intro {
    overflow: hidden;
}

#main-h1 .intro h1 {
    font-size: clamp(1rem, 5vw, 5rem);
    font-family: "Syne", "Bricolage Grotesque", "Poppins";
    font-weight: 700;
    color: #111928;
    z-index: 9;
    opacity: 0;
    transform: translateY(100%);
}

#main-p {
    position: relative;
    top: clamp(1rem, 5vw, 5rem);
    flex-basis: 30%;
}

#main-p p {
    font-size: clamp(0.25rem, 2vw, 1.5rem);
    font-family: "Syne", sans-serif;
}

#hr {
    position: relative;
    left: 2.5%;
    width: 95%;
    height: 3px;
    border-radius: 1px;
    background-color: #0f2539;
    opacity: 0.5;
    margin-block: 2rem;
}

.gallery-container {
    position: relative;
    padding: 3rem;
    /* visibility: hidden; */
}

#gallerytxt {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(0.5rem, 2vw, 3rem) clamp(0.5rem, 2vw, 3rem);    
    padding-top: 0;
    cursor: default;
}

#gallerytxt h1 {
    position: relative;
    font-size: clamp(1rem, 5vw, 4rem);
    font-family: "Syne", "Bricolage Grotesque", "Poppins";
    font-weight: 500;
    text-transform: capitalize;
    color: #111928;
    padding-bottom: 3rem;
}

#gallerytxt h1::after {
    content: "";
    position: absolute;
    bottom: clamp(0.5rem, 5vw, 3rem);
    right: 0;
    width: 0%;
    height: 0.25rem;
    border-radius: 1rem;
    background-color: #111928;
    transition: all 0.5s ease-in-out;
}

#gallerytxt h1:hover:after {
    width: 100%;
    left: 0;
}

.gallery {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 700px;
    grid-auto-flow: dense;
}
.gallery > div {
    position: relative;
    cursor: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}

.gallery-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    pointer-events: none;
    z-index: 2;
    transition: all 0.4s ease-in-out;
    opacity: 0;
}

.gallery-item:hover::after {
    opacity: 1;
}

.gallery > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery .tall {
    grid-row: span 2;
}

.gallery .wide {
    grid-column: span 2;
}

.zoom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    z-index: 3;
    color: white;
    font-size: clamp(1rem, 5vw, 3rem);
    font-weight: 300;
    font-family: "Bricolage Grotesque", "Poppins";
    pointer-events: none;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.gallery-item:hover .zoom {
    transform: translate(-50%, -50%);
    opacity: 1;
}


.fancybox__container {
    --fancybox-color: #0d0c22;
    --fancybox-bg: rgba(0, 0, 0, 0.99);
    --f-spinner-color-1: rgba(0, 0, 0, 0.1);
    --f-spinner-color-2: rgba(17, 24, 28, 0.8);
  
    flex-direction: column-reverse;
  }
  
  .fancybox__toolbar {
    --f-button-bg: #131315;
    --f-button-hover-bg: #e7e7e9;
    --f-button-active-bg: #e7e7e9;
    --f-button-color: #f3f3f3;
    --f-button-hover-color: #0d0c22;
  
    --f-button-border-radius: 8px;
  
    --f-button-svg-width: 20px;
    --f-button-svg-height: 20px;
  
    --f-button-svg-stroke-width: 1.5;
    --f-button-svg-filter: none;

    padding: 20px 40px;
    z-index: 10;
  }
  
  .fancybox__slide {
    padding: 12px 0px;
  }
  
  .fancybox__thumbs.is-classic {
    --f-thumb-gap: 3px;
    --f-thumb-width: 88px;
    --f-thumb-height: 66px;
    --f-thumb-opacity: 1;
    --f-thumb-outline: 3px;
    --f-thumb-outline-color: #ea4c89;
    --f-thumb-border-radius: 6px;
    --f-thumb-offset: 4px;
  
    padding: 10px 100px 10px 26px;
    border-bottom: 2px solid #000000;
  }
  
  /* Align thumbnails on right side if not draggable */
  .f-thumbs__viewport:not(.is-draggable) .f-thumbs__track {
    justify-content: flex-end;
  }
  
  .f-thumbs__slide__img {
    border-radius: 7px;
  }
  