@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600&family=Bricolage+Grotesque:wght@300;400;500;600;700;800&family=Unbounded:wght@200;300;400;500;600;700&display=swap");

:root {
    --background-color: #f6f7f6;
    --background-color: #cacaca;
    --highlight-color: #0b0b0a;
    --accent-color: #eeefef;
    --text-color: #080809;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bricolage Grotesque", "Poppins", sans-serif;
    /* border: 1px red solid; */
}

html {
    font-size: 14px;
    scroll-snap-type: y proximity;
}

body {
    background-color: #e6e7e0;
}

body::-webkit-scrollbar {
    display: none;
}

.loader-container {
    position: fixed;
    display: flex;
    inset: 0;
    z-index: 9999;
    background-color: #000;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-out;
}

.loader-container.hidden {
    transform: translate3d(0, -100%, 0);
}

svg {
    width: 100%;
    font-weight: 100;
}

svg text {
    color: white;
    font-family: "Bricolage Grotesque", "Poppins";
    font-size: clamp(1rem, 5vw, 3rem);
    font-weight: 700;
    stroke-width: 2;
}

svg text.text-body {
    stroke: white;
    animation: 1.6s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95) loader;
}

@keyframes loader {
    0% {
        fill: transparent;
        stroke: white;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 30%;
    }

    35% {
        fill: transparent;
        stroke: white;
    }

    60%,
    100% {
        fill: white;
        stroke: transparent;
        stroke-width: 0;
        stroke-dashoffset: -25%;
        stroke-dasharray: 30% 0;
    }
}

#main {
    opacity: 0;
    transition: 0.5s all cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-delay: 0.25s;
}

#main.visible {
    opacity: 1;
}

#page-1 {
    position: sticky;
    top: 0;
    min-height: 110vh;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 3rem;
}

#navLeft a {
    font-size: clamp(1.25rem, 5vw, 2rem);
    font-weight: 500;
    font-family: "unbounded", "caveat", "poppins";
    cursor: default;
}

#navRight a {
    position: relative;
    color: black;
    font-size: clamp(0.5rem, 6vw, 1.5rem);
    text-decoration: none;
}

#navRight a::after {
    content: "";
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 0;
    height: 1.5px;
    background-color: black;
    transform-origin: left;
    transition: all 0.5s ease;
}

#navRight a:hover::after {
    width: 100%;
    left: 0;
}

#breaker-circle {
    width: 5rem;
    border-radius: 50%;
    display: inline-block;
    visibility: hidden;
}

#moving-text h1 {
    font-size: 16rem;
    font-family: "Bricolage Grotesque", sans-serif;
    text-transform: uppercase;
    display: inline-block;
}

.moving-container {
    white-space: nowrap;
    overflow-x: hidden;
    pointer-events: none;
}

@keyframes move-banner-1 {
    from {
        transform: translateX(-60%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes move-banner-2 {
    from {
        transform: translateX(-200%);
    }

    to {
        transform: translateX(-40%);
    }
}

@keyframes move-banner-3 {
    from {
        transform: translateX(-10%);
    }

    to {
        transform: translateX(-60%);
    }
}

#moving-container-1 h1 {
    animation: move-banner-1 40s linear alternate infinite;
}

#moving-container-2 h1 {
    animation: move-banner-2 100s linear alternate infinite;
}

#moving-container-3 h1 {
    animation: move-banner-3 24s linear alternate infinite;
}

.moving-container:nth-child(odd) {
    color: white;
    background-color: #000;
}

.moving-container:nth-child(odd) #breaker-circle {
    background-color: #000;
}

#page-2 {
    position: sticky;
    top: 0;
    min-height: 120vh;
}

#page-2 a {
    color: black;
    text-decoration: none;
}

#page-2-wrapper {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh);
    background-color: var(--highlight-color);
}

navheader {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

navheader div {
    border-right: 1px solid black;
}

navheader .nav-section {
    user-select: none;
    background-color: var(--background-color);
    border-block: 1px solid black;
    padding: clamp(0.25rem, 2vw, 3rem) clamp(0.5rem, 3vw, 2rem);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.nav-section a {
    font-size: clamp(0.1rem, 1vw, 1.75rem);
}

#nav-contact-section {
    flex-grow: 1;
}

#nav-contact-section a {
    position: relative;
    color: black;
    text-decoration: none;
}

.gallery-btn {
    cursor: pointer;
}

#nav-contact-section a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 0;
    height: 1.5px;
    background-color: black;
    transition: 0.5s ease;
}

#nav-contact-section a:hover::after {
    width: 100%;
    left: 0;
}

#nav-logo-section {
    flex-basis: calc(100% / 3);
    pointer-events: none;
}

#nav-logo-section a {
    font-size: clamp(0.1rem, 2vw, 1.5rem);
    font-family: "unbounded", "caveat", "poppins";
    font-weight: 500;
}

#nav-link-section {
    flex-basis: calc(100% / 3);
}

maincontent {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

maincontent > article {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: transform 400ms ease;
}

maincontent > article[data-status="inactive"] {
    transform: translateX(-100%);
    transition: none;
}

maincontent > article[data-status="active"] {
    transform: translateX(0%);
}

maincontent > article[data-status="before"] {
    transform: translateX(-100%);
}

maincontent > article[data-status="after"] {
    transform: translateX(100%);
}

maincontent > article[data-status="becoming-active-from-before"] {
    transform: translateX(-100%);
    transition: none;
}

maincontent > article[data-status="becoming-active-from-after"] {
    transform: translateX(100%);
    transition: none;
}

maincontent > article > .article-section {
    display: flex;
    height: 100%;
    background-color: var(--background-color);
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

maincontent > article > .article-title-section,
maincontent > article > .article-description-section {
    pointer-events: none;
}

maincontent > article:first-child > .article-image-section {
    background-image: url(./images/article1.webp);
}

maincontent > article:nth-child(2) > .article-image-section {
    background-image: url("https://images.unsplash.com/photo-1535905557558-afc4877a26fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80");
}

maincontent > article:nth-child(3) > .article-image-section {
    background-image: url("https://images.unsplash.com/photo-1660580554695-d2ca5008f1f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=927&q=80");
}

maincontent > article:nth-child(4) > .article-image-section {
    background-image: url("https://images.unsplash.com/photo-1660766877755-4cac24f6cf21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2232&q=80");
}

maincontent > article > .article-image-section {
    background-position: center center;
    background-size: cover;
}

maincontent > article > .article-description-section {
    flex-direction: column;
    justify-content: center;
    padding: clamp(0.25rem, 1.5vw, 2rem) clamp(0.5rem, 3vw, 12rem);
}

maincontent > article > .article-description-section > p {
    font-family: "Bricolage Grotesque", system-ui, sans-serif;
    font-size: clamp(0.25rem, 2vw, 1.5rem);
    font-weight: 500;
}

#skills h3 {
    font-size: clamp(0.25rem, 2vw, 1.75rem);
    font-weight: 100;
    padding-bottom: 1rem;
}

#skills p {
    font-size: clamp(0.25rem, 2vw, 1.75rem);
    font-weight: 200;
}

maincontent > article > .article-description-section > p > a {
    transition: all 0.3s ease;
}

maincontent > article > .article-description-section > p > a:hover {
    transform: scale(1.2);
}

maincontent > article > .article-title-section {
    align-items: center;
    justify-content: flex-start;
    padding: clamp(0.25rem, 1.5vw, 2rem) clamp(0.5rem, 3vw, 2rem);
}

maincontent > article > .article-title-section > h2 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: clamp(2rem, 4vw, 3rem);
    line-height: 3rem;
    margin: 0px;
}

maincontent > article > .article-title-section > i {
    color: rgba(255, 255, 255, 0.8);
    font-size: 4rem;
}

maincontent > article > .article-nav-section > .article-nav-button {
    background-color: var(--background-color);
    flex-grow: 1;
    border: none;
    border-right: 1px solid black;
    outline: none;
    font-size: 3rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

maincontent > article > .article-nav-section > .article-nav-button:hover {
    color: var(--accent-color);
    background-color: var(--highlight-color);
}

/* 
@media (max-width: 1200px) {
    #nav-mobile-section {
        flex-basis: calc(100% * 0.75);
    }

    #nav-logo-section {
        flex-basis: calc(100% * 0.25);
    }

    #nav-link-section {
        flex-basis: calc(100% / 3);
        gap: 3rem;
    }

    main {
        overflow-y: auto;
    }

    main > article {
        grid-template-columns: none;
        grid-template-rows: 1.5fr repeat(3, 0.75fr) 0.25fr;
        height: max(900px, 100%);
    }

    main > article > .article-title-section > h2 {
        font-size: 3rem;
        line-height: 2.6rem;
    }

    main > article > .article-title-section > i {
        font-size: 3rem;
    }

    main > article > .article-description-section,
    main > article > .article-nav-section {
        border-left: none;
    }

    main > article > .article-image-section {
        order: 1;
    }

    main > article > .article-title-section {
        order: 2;
    }

    main > article > .article-description-section {
        justify-content: center;
        order: 3;
    }

    main > article > .article-nav-section {
        order: 4;
    }
}

@media (max-width: 800px) {
    nav {
        justify-content: space-between;
    }

    nav[data-toggled="true"] > #nav-mobile-section {
        transform: translateY(0%);
    }

    nav[data-toggled="true"] > #nav-toggle-button {
        border-left: none;
    }

    nav[data-transitionable="true"] > #nav-mobile-section {
        transition: transform 400ms ease;
    }

    nav .nav-section {
        border-left: none;
        padding: 1.5rem 1rem;
    }

    #nav-logo-section > a > i {
        font-size: 1.5rem;
        margin-left: 1rem;
    }

    #nav-mobile-section {
        background-color: var(--background-color);
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        position: fixed;
        transform: translateY(-100%);
    }

    #nav-toggle-button {
        display: flex;
    }

    #nav-link-section {
        flex-basis: 60%;
        flex-direction: column;
        gap: 4rem;
    }

    #nav-link-section > a {
        font-size: 3rem;
    }

    #nav-contact-section {
        padding-bottom: 4rem;
    }

    main > article {
        grid-template-rows: 1fr repeat(4, 0.5fr);
        height: max(700px, 100%);
    }

    main > article > .article-title-section {
        padding: 2rem;
    }

    main > article > .article-title-section > h2 {
        flex-basis: 70%;
        font-size: 1.75em;
        line-height: 1.5rem;
    }

    main > article > .article-title-section > i {
        font-size: 2rem;
    }

    main > article > .article-description-section {
        padding: 2rem;
    }

    main > article > .article-description-section > p {
        font-size: 1rem;
    }
} */

#page-3 {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0px;
    background-color: var(--accent-color);
    overflow: hidden;
}

#contact-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cool-ball {
    position: absolute;
    width: 45%;
    left: 50%;
    z-index: 0;
}

#collab {
    z-index: 1;
    position: relative;
    bottom: 13rem;
}

#collab span {
    color: #6c645f;
    font-size: x-large;
    font-weight: 700;
}

#contact-container #get-in-touch {
    z-index: 10;
    position: relative;
    width: 90%;
    transform: translateY(-90%) translateX(0);
    color: #e7e7e1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-container #get-in-touch::after {
    content: "";
    position: absolute;
    bottom: -1rem;
    right: 0;
    width: 0%;
    height: 0.5rem;
    background-color: #383633;
    transition: all 0.5s ease;
    -webkit-transition: width 0.5s ease;
}

#contact-container #get-in-touch:hover::after {
    width: 100%;
    left: 0;
}

#contact-container #get-in-touch > img {
    position: relative;
    width: 180%;
    transition: all 0.3s ease;
}

#contact-links {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    z-index: 10;
    transform: translateY(100%);
}

#contact-links h1 {
    text-transform: uppercase;
    font-family: "Bricolage Grotesque", "Unbounded", sans-serif;
    font-weight: 300;
}

#contact-links .connect {
    position: relative;
    bottom: 2rem;
    left: 3rem;
    cursor: default;
    font-size: 1rem;
    opacity: 0.8;
}

.link a {
    position: relative;
    color: #050505;
    border-radius: 1rem;
    text-decoration: none;
}

.link a::after {
    content: "";
    position: absolute;
    bottom: -0rem;
    right: 0;
    width: 0%;
    height: 0.2rem;
    background-color: #0c0c0c;
    transition: all 0.3s ease;
    -webkit-transition: width 0.3s ease;
}

.link a:hover::after {
    width: 100%;
    left: 0;
}

#footer {
    position: absolute;
    bottom: 3rem;
    width: 100%;
    padding-inline: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer-left h1 {
    font-family: "Unbounded", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: -0.1rem;
    line-height: 1;
    color: #3a3632;
}

#footer-right button {
    position: absolute;
    width: 6rem;
    aspect-ratio: 1;
    right: 6rem;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bebeb1;
    border: none;
    border-radius: 50%;
}

#footer-right button span i {
    position: relative;
    font-size: 1.8rem;
    color: #3a3632;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#footer-right button:hover span i {
    animation: scrollToTop 0.6s ease-in-out;
}

@keyframes scrollToTop {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-200%) scale(0);
    }

    55% {
        transform: translateY(200%) scale(0);
    }
}

#footer #time {
    position: absolute;
    width: 100%;
    bottom: 0rem;
    left: 50%;
    color: #403d39;
    font-family: "Unbounded", sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
}

#footer #time p {
    font-weight: 400;
}
