
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600&family=Bricolage+Grotesque:wght@300;400;500;600;700;800&family=Unbounded:wght@200;300;400;500;600;700&display=swap');


:root {

    --border-color: rgba(255, 255, 255, 0.8);
    
    /* --background-color: #3d2c1c;
    --highlight-color: #8c735b;
    --accent-color: #bfae9d;
    --text-color: #f5e9b7;
    
    
    --background-color: #081c15;
    --highlight-color: #2d6a4f;
    --accent-color: #1b4332;
    
    
    --background-color: #111011;
    --background-color: #fec500;
    --background-color: #f6f7f6;
    */
    
    --background-color: #afaf9d;
    --highlight-color: #010000;
    --accent-color: #eeefef;
    --text-color: #080809;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bricolage Grotesque", 'Poppins', sans-serif;
    /* border: 1px red solid; */
}

html {
    font-size: 14px;
    scroll-snap-type: y proximity; 
}

body {
    background-color: #e6e7e0;
}

body::-webkit-scrollbar {
    display: none;
}

.loader-container {
    position: fixed;
    display: flex;
    inset: 0;
    z-index: 9999;
    background-color: #000;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-out;
}

.loader-container.hidden {
    transform: translate3d(0, -100%, 0);
}

svg {
    width: 100%;
    font-weight: 100;
}

svg text {
    color: white;
    font-family: "Bricolage Grotesque", "Poppins";
    font-size: clamp(1rem, 5vw, 3rem);
    font-weight: 700;
    stroke-width: 2;
}

svg text.text-body {
    stroke: white;
    animation: 1.25s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95) loader;
}

@keyframes loader {
    0% {
        fill: transparent;
        stroke: white;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 30%;
    }

    35% {
        fill: transparent;
        stroke: white;
    }

    60%,
    100% {
        fill: white;
        stroke: transparent;
        stroke-width: 0;
        stroke-dashoffset: -25%;
        stroke-dasharray: 30% 0;
    }
}

#main {
    transform: translate3d(0, -1rem, 0);
    transition: 0.5s linear;
    transition-delay: 0.2s;
}

#main.visible {
    transform: translate3d(0, 0, 0);
}

#page-1 {
    position: relative;
    min-height: 100vh;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 3rem;
}

#navLeft a {
    font-size: 2rem;
    font-weight: 500;
    font-family: "unbounded", "caveat", "poppins";
    cursor: default;
}

#navRight a {
    position: relative;
    color: black;
    font-size: clamp(0.25rem, 2vw, 1.5rem);
    text-decoration: none;
}

#navRight a::after {
    content: "";
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 0;
    height: 1.5px;
    background-color: black;
    transform-origin: left;
    transition: all 0.5s ease;
}

#navRight a:hover::after {
    width: 100%;
    left: 0;
}

#breaker-circle {
    width: 5rem;
    border-radius: 50%;
    display: inline-block;
    visibility: hidden;
}

#moving-text h1 {
    font-size: 16rem;
    font-family: "Bricolage Grotesque", sans-serif;
    text-transform: uppercase;
    display: inline-block;
}

.moving-container {
    white-space: nowrap;
    overflow-x: hidden;
    pointer-events: none;
}

@keyframes move-banner-1 {
    from {
        transform: translateX(-60%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes move-banner-2 {
    from {
        transform: translateX(-200%);
    }

    to {
        transform: translateX(-40%);
    }
}

@keyframes move-banner-3 {
    from {
        transform: translateX(-10%);
    }

    to {
        transform: translateX(-60%);
    }
}

#moving-container-1 h1 {
    animation: move-banner-1 40s linear alternate infinite;
}

#moving-container-2 h1 {
    animation: move-banner-2 100s linear alternate infinite;
}

#moving-container-3 h1 {
    animation: move-banner-3 24s linear alternate infinite;
}

.moving-container:nth-child(odd) {
    color: white;
    background-color: #000;
}

.moving-container:nth-child(odd) #breaker-circle {
    background-color: #000;
}



#page-2 {
    position: relative;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#page-2 a {
    color: black;
    text-decoration: none;
}


navheader {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: clamp(0.25rem, 0.75vw, 1rem) clamp(0.5rem, 1.5vw, 1rem);
    padding-bottom: 0.5rem;
    font-size: 1.25rem;
}

navheader .nav-section {
    background-color: var(--background-color);
    margin: 0rem 0.2rem;
    padding: clamp(0.25rem, 2vw, 3rem) clamp(0.5rem, 3vw, 2rem);
    display: flex;
    border-radius: 1.5rem;
    align-items: center;
    justify-content: center;
}

#nav-mobile-section {
    display: flex;
    flex-basis: calc(100% * (2 / 3));
    z-index: 2;
}

#nav-social-section,
#nav-contact-section {
    flex-grow: 1;
}

#nav-social-section a, #nav-contact-section a {
    position: relative;
    color: black;
    font-size: clamp(0.25rem, 2vw, 1.5rem);
    text-decoration: none;
}

.contact-btn {
    cursor: pointer;
}

#nav-social-section a::after, #nav-contact-section a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: 0.5s ease;
}

#nav-social-section a:hover::after, #nav-contact-section a:hover::after {
    width: 100%;
    left: 0;
}

#nav-logo-section {
    flex-basis: calc(100% / 3);
    justify-content: center;
    font-size: clamp(0.1rem, 2vw, 1.5rem);
    font-weight: 500;
    pointer-events: none;
}

#nav-link-section {
    flex-basis: 50%;
    font-size: clamp(0.1rem, 2vw, 1.5rem);
}

maincontent {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

maincontent>article {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    display: grid;
    gap: .5rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 1rem;
    padding-top: 0;
    transition: transform 400ms ease;
}

maincontent>article[data-status="inactive"] {
    transform: translateX(-100%);
    transition: none;
}

maincontent>article[data-status="active"] {
    transform: translateX(0%);
}

maincontent>article[data-status="before"] {
    transform: translateX(-100%);
}

maincontent>article[data-status="after"] {
    transform: translateX(100%);
}

maincontent>article[data-status="becoming-active-from-before"] {
    transform: translateX(-100%);
    transition: none;
}

maincontent>article[data-status="becoming-active-from-after"] {
    transform: translateX(100%);
    transition: none;
}

maincontent>article>.article-section {
    display: flex;
    height: 100%;
    background-color: var(--background-color);
    border-radius: 2rem;
}

maincontent>article>.article-title-section,
maincontent>article>.article-description-section {
    pointer-events: none;
}

maincontent>article:first-child>.article-image-section {
    background-image: url(./images/article1.webp);
}

maincontent>article:nth-child(2)>.article-image-section {
    background-image: url("https://images.unsplash.com/photo-1535905557558-afc4877a26fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80");
}

maincontent>article:nth-child(3)>.article-image-section {
    background-image: url("https://images.unsplash.com/photo-1660580554695-d2ca5008f1f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=927&q=80");
}

maincontent>article:nth-child(4)>.article-image-section {
    background-image: url("https://images.unsplash.com/photo-1660766877755-4cac24f6cf21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2232&q=80");
}

maincontent>article>.article-image-section {
    background-position: center center;
    background-size: cover;
}

maincontent>article>.article-description-section {
    flex-direction: column;
    justify-content: center;
    padding: clamp(0.25rem, 1.5vw, 2rem) clamp(0.5rem, 3vw, 12rem);
}

maincontent>article>.article-description-section>p {
    font-family: "Bricolage Grotesque", system-ui, sans-serif;
    font-size: clamp(0.25rem, 2vw, 1.5rem);
    font-weight: 500;
}

#skills h3 {
    font-size: clamp(0.25rem, 2vw, 1.75rem);
    font-weight: 100;
    padding-bottom: 1rem;
}

#skills p {
    font-size: clamp(0.25rem, 2vw, 1.75rem);
    font-weight: 200;
}

maincontent>article>.article-description-section>p>a {
    transition: all 0.3s ease;
}

maincontent>article>.article-description-section>p>a:hover {
    transform: scale(1.2);
}

maincontent>article>.article-title-section {
    align-items: center;
    justify-content: flex-start;
    padding: clamp(0.25rem, 1.5vw, 2rem) clamp(0.5rem, 3vw, 2rem);
}


maincontent>article>.article-title-section>h2 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: clamp(2rem, 4vw, 3rem);
    line-height: 3rem;
    margin: 0px;
}

maincontent>article>.article-title-section>i {
    color: rgba(255, 255, 255, 0.8);
    font-size: 4rem;
}

maincontent>article>.article-nav-section {
    padding: 0.2rem;
    gap: 0.2rem;
}

maincontent>article>.article-nav-section>.article-nav-button {
    background-color: var(--background-color);
    flex-grow: 1;
    border: none;
    /* border: 5px solid black; */
    outline: none;
    border-radius: 1.8rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

maincontent>article>.article-nav-section>.article-nav-button:hover {
    /* opacity: 0.8; */
    color: var(--accent-color);
    background-color: var(--highlight-color);
}

#page-3 {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0px;
    background-color: var(--accent-color);
    overflow: hidden;
}

#contact-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cool-ball {
    position: absolute;
    width: 45%;
    left: 50%;
    z-index: 0;
}

#collab {
    z-index: 1;
    position: relative;
    bottom: 13rem;
}

#collab span {
    color: #6c645f;
    font-size: x-large;
    font-weight: 700;
}

#contact-container #get-in-touch {
    z-index: 10;
    position: relative;
    width: 90%;
    transform: translateY(-90%) translateX(0);
    color: #e7e7e1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-container #get-in-touch::after {
    content: "";
    position: absolute;
    bottom: -1rem;
    right: 0;
    width: 0%;
    height: 0.5rem;
    background-color: #383633;
    transition: all 0.5s ease;
    -webkit-transition: width 0.5s ease;
}

#contact-container #get-in-touch:hover::after {
    width: 100%;
    left: 0;
}

#contact-container #get-in-touch>img {
    position: relative;
    width: 180%;
    transition: all 0.3s ease;
}

#contact-links {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    z-index: 10;
    transform: translateY(100%);
}

#contact-links h1 {
    text-transform: uppercase;
    font-family: 'Bricolage Grotesque', 'Unbounded', sans-serif;
    font-weight: 300;
}

#contact-links .connect {
    position: relative;
    bottom: 2rem;
    left: 3rem;
    cursor: default;
    font-size: 1rem;
    opacity: 0.8;
}

.link a {
    position: relative;
    color: #050505;
    border-radius: 1rem;
    text-decoration: none;
}

.link a::after {
    content: "";
    position: absolute;
    bottom: -0rem;
    right: 0;
    width: 0%;
    height: 0.2rem;
    background-color: #0c0c0c;
    transition: all 0.3s ease;
    -webkit-transition: width 0.3s ease;
}

.link a:hover::after {
    width: 100%;
    left: 0;
}

#footer {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    padding-inline: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer-left h1 {
    font-family: 'Unbounded', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: -0.1rem;
    line-height: 1;
    color: #3a3632;
}

#footer-right button {
    position: absolute;
    width: 5rem;
    height: 5rem;
    right: 5rem;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bebeb1;
    border: none;
    border-radius: 50%;
}

#footer-right button span i {
    position: relative;
    font-size: 1.5rem;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#footer-right button:hover span i {
    animation: scrollToTop 0.6s ease-in-out;
}

@keyframes scrollToTop {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-200%) scale(0);
    }

    55% {
        transform: translateY(200%) scale(0);
    }
}

#footer #time {
    position: absolute;
    width: 100%;
    bottom: 0rem;
    left: 50%;
    color: #403d39;
    font-family: 'Unbounded', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
}

#footer #time p {
    font-weight: 400;
}
