@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Bricolage+Grotesque:wght@300;400;500;600;700;800&family=Unbounded:wght@200;300;400;500;600;700&display=swap");

:root {
    --background-color: #000000;
    --border-color: rgba(255, 255, 255, 1);
    --text-color: #f7e7be;
    --background-color: #000000;
    --underline-color: var(--text-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* border: 1px red solid; */
}

html {
    font-size: 14px;
}

body {
    background-color: #e6e7e0;
}

body::-webkit-scrollbar {
    display: none;
}

.loader-container {
    position: fixed;
    display: flex;
    inset: 0;
    z-index: 9999;
    background-color: #000;
    justify-content: center;
    align-items: center;
    clip-path: circle(100%);
    transition: 1s ease-out;
}

.loader-container.hidden {
    clip-path: circle(0% at 50% -10%);
}

svg {
    width: 100%;
    font-weight: 100;
}

svg text {
    color: white;
    font-family: "Bricolage Grotesque", "Poppins";
    font-size: clamp(1rem, 5vw, 3rem);
    font-weight: 700;
    stroke-width: 2;
}

svg text.text-body {
    stroke: white;
    animation: 2s forwards cubic-bezier(0.445, 0.05, 0.55, 0.95) loader;
}

@keyframes loader {
    0%, 20% {
        fill: transparent;
        stroke: white;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 20%;
    }

    35% {
        fill: transparent;
        stroke: white;
    }

    75%,
    100% {
        fill: white;
        stroke: transparent;
        stroke-width: 0;
        stroke-dashoffset: -25%;
        stroke-dasharray: 30% 0;
    }
}

#main {
    opacity: 0;
    transition: 0.5s all cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-delay: 0.25s;
}

#main.visible {
    opacity: 1;
}

#page-1 {
    position: sticky;
    top: 0;
    min-height: 110vh;
}

#page-1-wrapper {
    overflow: hidden;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: clamp(0.5rem, 6vw, 2rem) clamp(0.5rem, 6vw, 3rem);
}

#navLeft a {
    font-size: clamp(1.25rem, 5vw, 2rem);
    font-weight: 400;
    font-family: "Unbounded", "Poppins", sans-serif;
    cursor: default;
}

#navRight a {
    position: relative;
    color: black;
    font-family: "Unbounded", sans-serif;
    font-size: clamp(0.25rem, 4vw, 1.5rem);
    text-decoration: none;
}

#navRight a::after {
    content: "";
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 0;
    height: 1.5px;
    background-color: black;
    transform-origin: left;
    transition: all 0.5s ease;
}

#navRight a:hover::after {
    width: 100%;
    left: 0;
}

#breaker-circle {
    width: 5rem;
    border-radius: 50%;
    display: inline-block;
    visibility: hidden;
}

#moving-text {
    overflow: hidden;
}

#moving-text h1 {
    font-size: calc(100vh / 4.05);
    font-family: "Bricolage Grotesque", sans-serif;
    text-transform: uppercase;
    display: inline-block;
}

.moving-container {
    white-space: nowrap;
    overflow-x: hidden;
    pointer-events: none;
}

@keyframes move-banner-1 {
    from {
        transform: translateX(-60%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes move-banner-2 {
    from {
        transform: translateX(-200%);
    }

    to {
        transform: translateX(-40%);
    }
}

@keyframes move-banner-3 {
    from {
        transform: translateX(-10%);
    }

    to {
        transform: translateX(-60%);
    }
}

#moving-container-1 h1 {
    animation: move-banner-1 40s linear alternate infinite;
}

#moving-container-2 h1 {
    animation: move-banner-2 180s linear alternate infinite;
}

#moving-container-3 h1 {
    animation: move-banner-3 40s linear alternate infinite;
}

.moving-container:nth-child(odd) {
    color: white;
    background-color: #000;
}

.moving-container:nth-child(odd) #breaker-circle {
    background-color: #000;
}

#page-2 {
    position: sticky;
    top: 0;
    min-height: 120vh;
}

#page-2 a {
    text-decoration: none;
}

#page-2-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

navheader {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

navheader div {
    border-right: 1px solid var(--border-color);
}

navheader .nav-section {
    user-select: none;
    background-color: var(--background-color);
    border-block: 1px solid var(--border-color);
    padding: clamp(1.5rem, 3vw, 3rem) clamp(0.75rem, 3vw, 2rem);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

#nav-contact-section {
    flex-grow: 1;
}

#nav-contact-section a {
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.gallery-btn {
    cursor: pointer;
}

#nav-contact-section a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 0;
    height: 1.5px;
    background-color: var(--underline-color);
    transition: 0.5s ease;
}

#nav-contact-section a:hover::after {
    width: 100%;
    left: 0;
}

#nav-logo-section {
    flex-basis: calc(100% / 3);
    pointer-events: none;
}

#nav-logo-section a {
    font-size: clamp(0.75rem, 2.5vw, 2rem);
    font-family: "unbounded", "caveat", "poppins";
    font-weight: 300;
}

#nav-link-section {
    flex-basis: calc(100% / 3);
}

.nav-section a {
    color: var(--text-color);
    font-size: clamp(0.75rem, 2.25vw, 1.75rem);
}

maincontent {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

maincontent > article {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: transform 400ms ease;
}

maincontent > article[data-status="inactive"] {
    transform: translateX(-100%);
    transition: none;
}

maincontent > article[data-status="active"] {
    transform: translateX(0%);
}

maincontent > article[data-status="before"] {
    transform: translateX(-100%);
}

maincontent > article[data-status="after"] {
    transform: translateX(100%);
}

maincontent > article[data-status="becoming-active-from-before"] {
    transform: translateX(-100%);
    transition: none;
}

maincontent > article[data-status="becoming-active-from-after"] {
    transform: translateX(100%);
    transition: none;
}

maincontent > article > .article-section {
    display: flex;
    height: 100%;
    background-color: var(--background-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

maincontent > article > .article-title-section {
    pointer-events: none;
}

maincontent > article:first-child > .article-image-section {
    background-image: url(./images/1.jpg);
}

maincontent > article:nth-child(2) > .article-image-section {
    background-image: url(./images/2.jpg);
}

maincontent > article:nth-child(3) > .article-image-section {
    background-image: url(./images/3.webp);
}

maincontent > article:nth-child(4) > .article-image-section {
    background-image: url("https://images.unsplash.com/photo-1660766877755-4cac24f6cf21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2232&q=80");
}

maincontent > article > .article-image-section {
    background-position: center 40%;
    background-size: cover;
}

maincontent > article > .article-description-section {
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding: clamp(0.5rem, 1.5vw, 2rem) clamp(0.5rem, 3vw, 12rem);
}

maincontent > article > .article-description-section > p {
    color: var(--text-color);
    font-size: clamp(0.25rem, 2vw, 1.5rem);
    font-weight: 300;
}

maincontent > article > .article-description-section a {
    position: relative;
    color: var(--text-color);
}

maincontent > article > .article-description-section a::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    width: 0;
    height: 0.1rem;
    background-color: var(--underline-color);
    transition: all 0.2s ease;
}

maincontent > article > .article-description-section a:hover::after {
    left: 0;
    width: 100%;
}

#skills h3 {
    color: var(--text-color);
    font-size: clamp(0.25rem, 3vw, 1.75rem);
}

#skills p {
    color: var(--text-color);
    font-size: clamp(0.25rem, 2.25vw, 1.75rem);
    font-weight: 200;
}

maincontent > article > .article-title-section {
    align-items: center;
    justify-content: space-around;
    padding: clamp(0.25rem, 1.5vw, 2rem) clamp(0.5rem, 3vw, 2rem);
}

maincontent > article > .article-title-section > h2 {
    color: var(--text-color);
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: clamp(2rem, 4vw, 3rem);
    line-height: 3rem;
}

maincontent > article > .article-title-section > p {
    color: var(--text-color);
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: clamp(2rem, 4vw, 3rem);
    line-height: 3rem;
}

maincontent > article > .article-nav-section > .article-nav-button {
    background-color: var(--background-color);
    color: var(--text-color);
    flex-grow: 1;
    border: none;
    border-right: 1px solid var(--border-color);
    outline: none;
    font-size: 3rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

maincontent > article > .article-nav-section > .article-nav-button:hover {
    color: var(--background-color);
    background-color: var(--text-color);
}

#page-3 {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--border-color);
    overflow: hidden;
}

#contact {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
}

#contact h1 {
    position: absolute;
    top: 0;
    left: 0;
    padding-inline: 0.5rem;
    font-size: calc(100vw / 5);
    color: rgba(0, 0, 0, 0.1);
    transform: translateY(-40%);
}

#contact-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cool-ball {
    position: absolute;
    width: 100%;
    top: 10%;
    left: 50%;
    z-index: 0;
}

#collab {
    position: relative;
    bottom: clamp(7rem, 20vw, 12rem);
    z-index: 1;
}

#collab span {
    color: #6c645f;
    font-size: clamp(0.5rem, 3.5vw, 3rem);
    font-weight: 600;
}

#contact-container #get-in-touch {
    position: relative;
    width: 90%;
    transform: translateY(-70%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#contact-container #get-in-touch > img {
    position: relative;
    width: 100%;
    transition: all 0.3s ease;
}

#contact-container #get-in-touch::after {
    content: "";
    position: absolute;
    bottom: -1rem;
    right: 0;
    width: 0%;
    height: 0.5rem;
    background-color: #383633;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

#contact-container #get-in-touch:hover::after {
    width: 100%;
    left: 0;
}


#contact-links {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 10;
    transform: translateY(100%);
}

#contact-links h1 {
    text-transform: uppercase;
    font-weight: 400;
}

#contact-links .connect {
    position: relative;
    bottom: 2.5rem;
    left: 4rem;
    cursor: default;
    font-size: 1.25rem;
    opacity: 0.8;
}

.link a {
    position: relative;
    font-size: clamp(0.25rem, 5vw, 2.25rem);
    color: #050505;
    text-decoration: none;
}

.link a::after {
    content: "";
    position: absolute;
    bottom: -0rem;
    right: 0;
    width: 0%;
    height: 0.2rem;
    background-color: #0c0c0c;
    transition: all 0.25s ease;
    -webkit-transition: width 0.25s ease;
}

.link a:hover::after {
    width: 100%;
    left: 0;
}

#footer {
    position: absolute;
    bottom: 3rem;
    width: 100%;
    padding-inline: clamp(2rem, 6vw, 3rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer-left h1 {
    font-family: "Unbounded", sans-serif;
    font-weight: 700;
    font-size: clamp(2rem, 6vw, 4rem);
    letter-spacing: -0.1rem;
    line-height: 1;
    color: #3a3632;
}

#footer-right button {
    position: absolute;
    width: clamp(2.75rem, 8vw, 6rem);
    aspect-ratio: 1;
    right: clamp(3rem, 6vw, 6rem);
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bebeb1;
    border: none;
    border-radius: 50%;
}

#footer-right button span i {
    position: relative;
    font-size: clamp(1rem, 2.5vw, 2rem);
    color: #3a3632;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#footer-right button:hover span i {
    animation: scrollToTop 0.6s ease-in-out;
}

@keyframes scrollToTop {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-100%) scale(0);
    }

    55% {
        transform: translateY(100%) scale(0);
    }
}

#footer #time {
    position: absolute;
    width: 100%;
    bottom: 0rem;
    left: 50%;
    color: #403d39;
    font-family: "Unbounded", sans-serif;
    font-weight: 600;
    font-size: clamp(1rem, 2vw, 1.5rem);
}

#footer #time p {
    font-weight: 400;
}

@media (max-width: 800px) {

    #moving-text h1 {
        font-size: 8rem;
        letter-spacing: -0.5rem;
        line-height: calc(100vh / 3.3);
    }

    #breaker-circle {
        width: 3rem;
    }

    @keyframes move-banner-1 {
        from {
            transform: translateX(5%);
        }

        to {
            transform: translateX(-160%);
        }
    }

    @keyframes move-banner-2 {
        from {
            transform: translateX(-205%);
        }

        to {
            transform: translateX(-40%);
        }
    }

    @keyframes move-banner-3 {
        from {
            transform: translateX(5%);
        }

        to {
            transform: translateX(-170%);
        }
    }

    #moving-container-1 h1 {
        animation: move-banner-1 32s linear alternate infinite;
    }

    #moving-container-2 h1 {
        animation: move-banner-2 40s linear alternate infinite;
    }

    #moving-container-3 h1 {
        animation: move-banner-3 28s linear alternate infinite;
    }

    maincontent > article {
        grid-template-columns: 1fr;
        grid-template-rows: 4fr 4fr 2fr 1fr;
    }

    maincontent > article > .article-title-section {
        justify-content: space-around;
    }

    maincontent > article > .article-title-section > h2 {
        font-size: 3.5rem;
    }

    maincontent > article > .article-description-section {
        padding-inline: 8%;
    }

    maincontent > article > .article-description-section > p {
        font-size: 1.5rem;
    }

    #skills h3 {
        font-size: 1.75rem;
    }

    #skills p {
        font-size: 1.75rem;
    }

    #contact {
        display: flex;
    }

    #contact-container #get-in-touch {
        transform: translateY(-180%);
    }

    #contact-links {
        flex-direction: column;
        gap: 0.25rem;
        transform: translateY(0);
    }

    #contact-links .connect {
        left: -3rem;
        bottom: 0rem;
        font-size: 1.25rem;
    }

    #footer #time {
        position: absolute;
        left: 60%;
    }
}


@media (max-width: 450px) {

    maincontent > article > .article-title-section > h2 {
        font-size: 1.75rem;
    }

    maincontent > article > .article-description-section {
        padding-inline: 10%;
    }    

    maincontent > article > .article-description-section > p {
        font-size: 1rem;
    }

    #skills h3 {
        font-size: 1.25rem;
    }

    #skills p {
        font-size: 1.25rem;
    }

    #contact {
        display: flex;
    }

    #contact-container #get-in-touch {
        transform: translateY(-200%);
    }

    #contact-links {
        flex-direction: column;
        gap: 0rem;
        transform: translateY(0);
    }

    #contact-links .connect {
        left: -3rem;
        bottom: 0rem;
        font-size: 0.75rem;
    }

    #footer #time {
        display: none;
    }
}